@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Shahab Ali<br />
    Hangu, Pakistan<br />
    <abbr title="Helpline">Mobile:</abbr>
    +923367276777
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:MrShahabAli@gmail.com">MrShahabAli@gmail.com</a><br />
    
</address>